<div class="thumnail-row">
<div class="thumnail">
  <div class="border">
    <%= image_tag "1.jpg" %>
  </div>
</div>

<div class="thumnail">
  <div class="border">
    <%= image_tag "2.jpg" %>
  </div>
</div>

<div class="thumnail">
  <div class="border">
    <%= image_tag "3.jpg" %>
  </div>
</div>

<div class="thumnail">
  <div class="border">
    <%= image_tag "4.jpg" %>
  </div>
</div>
</div>

<div class="thumnail-row">
<div class="thumnail">
  <div class="border">
    <%= image_tag "5.jpg" %>
  </div>
</div>

<div class="thumnail">
  <div class="border">
    <%= image_tag "6.jpg" %>
  </div>
</div>

<div class="thumnail">
  <div class="border">
    <%= image_tag "7.jpg" %>
  </div>
</div>

<div class="thumnail">
  <div class="border">
    <%= image_tag "8.jpg" %>
  </div>
</div>
</div>
